### BACKEND FILES
.env
__pycache__
.DS_Store
*.pyc
*.bak
/backend/courseshell_backend/data.json
### FRONTEND FILES
node_modules/
.DS_Store
package-lock.json
*.log
yarn.lock
# env files
/frontend/.env
/frontend/.env.local
.next/
